.partners{
    text-align: center;
    background-color: $color-white-1;
    padding: $pd-3 0;
    .partners__logo{
        width: 70%;
        padding: $pd-3 0;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
    }
    .partners__items{
        width: 90%;
        margin: 0 auto;
        .partners__detail{
            h2{
                @include styleText($color-black-light,$fs-3 + 1,$fw-1);
            }
            max-width: 450px;
            padding: $pd-3;
            margin: auto;
        }
    }

    @include responsive("extra-large"){
        .partners__logo{
            width: 80%;
        }
    }
    @include responsive("large"){
        .partners__logo{
            width: 90%;
        }
    }
    @include responsive("medium"){
        .partners__logo{
            width: 60%;
            flex-wrap: wrap;
            img{
                width: 35%;
                margin: $mg-0 $mg-4;
                height: 32px;
            }
        }

    }
}